#container{
    display: flex;
    height: 500px;
    width: 500px;
    margin: auto;
    border: 2px solid black;
    flex-direction: column;
}

.row{
    flex:1;
    display: flex;
    align-items: stretch;
}

#btn_side{
    display: block;
    margin: 10px auto 10px auto;
}